SECRET_KEY=troque-essa-chave-por-uma-gerada
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Local: sqlite3 | VPS: postgresql
DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

ASAAS_API_KEY=
ASAAS_BASE_URL=https://api.asaas.com/v3
ASAAS_WEBHOOK_TOKEN=